body {
    background-color: hsl(243, 96%, 9%);
    color: hsl(0, 0%, 100%);
    font-family: Bricolage Grotesque;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#units-icon img {
    margin-right: 0.8rem;
}
nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    border: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: hsl(243, 23%, 30%);
}

#first-heading h1{
    font-size: 80px;
    text-align: center;
}

#search img{
    position: absolute;
    margin-left: 29%;
    margin-top: 0.7%;

}


.search-section {
    display: flex;
    margin-left: 28%;
    gap: 5rem;
}

.search-section input{
    width: 670px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(243, 23%, 30%);
    color: white;
    padding-left: 9%;
}

.search-section button{
    border: none;
    width: 100px;
    height: 48px;
    border-radius: 10px;
    background-color: hsl(233, 67%, 56%);
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

#first-img img{
    margin-top: 4%;
    margin-left: 10%;
}

#sun-img img{
    position: absolute;
    top: 52%;
    left: 35%;
    height: 100px;
    width: 100px;
}

#sun-img h1{
    position: absolute;
    top: 44%;
    left: 44%;
    font-size: 100px;
}

.text-overlay{
    position: absolute;
    top: 50%;
    left: 12%;
}

.first-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    background-color: hsl(243, 23%, 24%);
    width: 400px;
    height: 700px;
    padding: 20px;
    border-radius: 20px;
    margin-top: -15.4%;
    margin-left: 54%;
}

.first-box button{
    height: 30px;
    border-radius: 10px;
    background-color: hsl(243, 23%, 30%);
    width: 100px;
    border: none;
    margin-top: 2%;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.mini-boxes {
    margin-left: 55.5%;
    margin-top: -35%;
}

.box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    border: none;
    width: 350px;
    height: 50px;
    margin: 10px;
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
   
}

.box h2{
    margin-top: 2%;
}

.box p{
    margin-left: -65%;
    margin-top: 3%;
    font-size: 20px;
}

#degrees {
    margin-top: 2%;
    font-size: 20px;
}

.info-cards{
    display: flex;
    margin-top: -22.5%;
    margin-left: 10%;
}

.card{
    border: none;
    width: 157px;
    height: 90px;
    text-align: left;
    padding: 12px;
    background-color: hsl(243, 23%, 30%);
    margin: 10px;
    border-radius: 10px;
}

.card p{
    margin-top: -0.5%;
    font-size: 20px;
}

.card h2{
    margin-top: -3%;
    font-size: 40px;
    font-weight: 100;
}

#daily {
    margin-left: 10%;
}

.forecast-cards{
    display: flex;
    margin-left: 10%;
}

.forecast-card{
    border: none;
    width: 74px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
}





footer {
    margin-top: 10%;
}

